body {
    display: flex;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: mymove 3s infinite alternate;
}

* {
    justify-content: center;
}
/* Section elements*/

.intro {
    background-image: url(imgs/Synthwave.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 5px 5px 15px rgb(104, 75, 120);
    height: 100vh;
}
/* The intro header */

h1,h2{ 
    font-size: 60px;
    padding: 20px 15px 0px 15px;
    margin: 10px;
    line-height: 100px;
    font-weight: 900;
    text-align: center;
    position: static;
    background-image: linear-gradient(rgb(224, 173, 255), rgb(30, 30, 243));
    color: transparent;
    background-clip: text;
}
div > h3{
    font-size: 30px;
    line-height: 1.6;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgb(204, 123, 255), blue);
    color: transparent;
    background-clip: text;
    text-shadow: rgb(255, 167, 246) 0 0 10px;
}

div,p {
    color: white;
    font-size: 20px;
}

p:nth-child(4){
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(rgb(204, 123, 255), blue);
    color: transparent;
    background-clip: text;
    text-shadow: rgb(255, 167, 246) 0 0 10px;
}
a:hover {
    background-image: linear-gradient(rgb(204, 123, 255), blue);
    color: transparent;
    background-clip: text;
    text-shadow: rgb(255, 167, 246) 0 0 10px;
}

/* intro text*/

.summary{ 
    text-align: center;
}

#zen-preamble {
    text-align: center;
    margin: 10px;
    padding: 20px;
}

/* text section 2*/

.main .explanation {
    background: url(imgs/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    width: 50vh;
    height: 50vh;
    margin-top: 4em;
    padding: 0em 4em;
    border: 1px solid #e0feff;
    box-shadow: 5px 5px 5px rgb(104, 75, 120);
}

[href] {
    color: rgb(194, 29, 239);
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgb(255, 212, 251) 0 0 10px;
}

[article=_blank] {
    color: rgb(194, 29, 239);
    text-decoration: none;
    font-weight: bold;
    text-shadow: rgb(255, 212, 251) 0 0 10px;
}
.main {
    display: grid;
    grid-template: 2fr 2fr/ 2fr 2fr;
    background-image: url(imgs/blahaj-blåhaj.gif);
    justify-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Animation tests*/

@keyframes mymove {
    from {background-color: #000000;}
    to {background-color: #130517;}
}


/* 3rd heading*/
.preamble h3 {
    border: white;
    display: flex;
    justify-self: center;
    font-size: 50px;
    background-image: linear-gradient(rgb(204, 123, 255), blue);
    color: transparent;
    background-clip: text;
    text-align: center;
    padding: 1vh;
    margin: 2vh;
    float: center;
}
/* navigations*/

nav {
    display: flex;
    justify-content: left;
    background-color: #e0feff;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(104, 75, 120);
    margin: 1vh;
    padding: 1vh;
}